@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,600;1,6..72,500&family=IBM+Plex+Sans:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: theme("colors.paper");
  color: theme("colors.ink");
}

.fil-scroll::-webkit-scrollbar {
  display: none;
}
.fil-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
